<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WASD Gaming Community</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WASD", "Index", "Home", null, new {@class = "navbar-brand"})
            </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Groups", "Groups", "Groups")</li>
                        <li>@Html.ActionLink("Friends", "Friends", "Friends")</li>
                        <li>@Html.ActionLink("Streams", "Streams", "Streams")</li>
                        <li>@Html.ActionLink("Clans", "Clans", "Clans")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container body-content">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("MyGroups", "MyGroups", "Groups")</li>
                <li>@Html.ActionLink("Tournaments", "Tournaments", "Groups")</li>
                <li>@Html.ActionLink("Scheduled Matches", "ScheduledMatches", "Groups")</li>
                <li>@Html.ActionLink("Looking to play", "LookingToPlay", "Groups")</li>
                <li>@Html.ActionLink("Members", "Members", "Groups")</li>
                <li>@Html.ActionLink("Guides", "Guides", "Groups")</li>
                <li>@Html.ActionLink("Create Group", "CreateGroup", "Groups")</li>
            </ul>
            @Html.Action("ListMyFriends", "Friends")
            @RenderBody()
            <div class="push"></div>
        </div>
    </div>
    <div class="footer">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - WASD Gaming Community</p>
        </footer>
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
