@model Wasd.Models.UserPost

@{
    ViewBag.Title = "Home";
}

<h2>User Posts</h2>
<div>   
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
    
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @*@Html.LabelFor(model => model.content, new { @class = "control-label col-md-2" })*@
                <div class="input-lg">
                    @Html.EditorFor(model => model.content)
                    @Html.ValidationMessageFor(model => model.content)
                    <input type="submit" value="Post" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
<div> 
    @Html.Action("PostList", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
